.footer-container .page-footer {
    background-color: darkslateblue !important;
}

.page-footer .container {
    width: 90% !important;
    height: 150px;
}

.foot-icons {
    width: 20px;
    display: inline-block;
}

.footer-copyright {
    height: 20px !important;
}

.c-right {
    margin-left: 45%;
}

.copyright-text {
    margin-right: 45%;
}

.icon-txt {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
    color: white !important;
    position: absolute;
}

.icon-txt:hover{
    text-decoration: white underline;
}

.foot-row {
    position: relative;
}

