.footer-container .page-footer {
    background-color: darkslateblue !important;
}

.page-footer .container {
    width: 90% !important;
    height: 150px;
}

.foot-icons {
    width: 20px;
    display: inline-block;
}

.footer-copyright {
    height: 20px !important;
}

.icon-txt {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
    color: white !important;
    position: absolute;
}

.icon-txt:hover{
    text-decoration: white underline;
}

.foot-row {
    position: relative;
}


.copy-container {
    height: 55px;
    position: relative;
    margin-left: 45%;
    min-width: 100%;
}

.copyright-text {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 24px;
}


@media (max-width: 750px) {
    .copy-container {
        margin-left: 40%;

    }
}

@media (max-width: 480px) {
    .copy-container {
        margin-left: 35%;
    }
}