* {
    font-family: 'Kanit', sans-serif !important;
}

.dtlaImg {
    width: 102vw;
    z-index: 1;
    bottom: 0;
    margin-left: -13px;
    margin-right: -15px;
    position: absolute;
}


.particles {
    margin:0; 
    display: block; 
    position: absolute; 
    width: 102vw !important; 
    height: 100% !important; 
    background-color: #191a25; 
    top: 48px; 
    left: -5px; 
    color: #13E8E9; 
    text-align: center; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-weight: bold;
    margin-top: 5px; 
    margin-left: 5px;
    border-radius: 3px 3px 0 0; 
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    z-index: -1;
}


#name {
    z-index: 2;
    font-size: 9vw;
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-top: 70px;
}

#job {
    z-index: 2;
    font-size: 3vw;
    color: white;
    position: absolute;
    margin-top: 205px;
    margin-left: 105px;

}

#location {
    z-index: 2;
    font-size: 2vw;
    color: white;
    position: absolute;
    margin-top: 255px;
    margin-left: 105px;
}

#welcomeContainer {
    height: 750px;
    position: relative;
    margin-top: -9px;
}

.topContainer {
    position: absolute;
}

@media (min-width:1450px) {
    #welcomeContainer{
        height: 1100px;
    }
    #name {
        margin-top: 55px;
    }
    #job {
        margin-top: 250px;
    }
    #location {
        margin-top: 330px;
    }
    .meImg {
        width: 70% !important;
        margin-top: -45px !important;
    }
    #textBody {
        padding-left: 0 !important;
        margin-left: -100px !important;
    }
    .servicesContainer {
        height: 1000px !important;
    }
    .workContainer {
        height: 1800px !important;
    }
}

@media (max-width:1175px) {
    #welcomeContainer{
        height: 650px;
    }
}

@media (max-width:1068px) {
    #welcomeContainer{
        height: 620px;
    }
}

@media (max-width:980px) {
    #job {
        margin-top: 175px;
    }
    #location {
        margin-top: 225px;
    }
}

@media (max-width:875px) {
    #name {
        font-size: 10vw;
        margin-left: 50px;
    }
    #job {
        font-size: 4vw;
        margin-left: 50px;

    }
    #location {
        font-size: 4vw;
        margin-left: 50px;
    }
}

@media (max-width:780px) {
    #welcomeContainer{
        height: 540px;
    }
}

@media (max-width:600px) {
    #welcomeContainer{
        height: 450px;
        margin-top: -17px;
    }

    #job {
        margin-top: 130px;
    }

    #location {
        margin-top: 150px;
    }
}

@media (max-width:500px) {
    #welcomeContainer{
        height: 400px;
    }

    #job {
        margin-top: 130px;
        margin-left: 20px;
    }

    #location {
        margin-top: 150px;
        margin-left: 20px;

    }

    #name {
        margin-left: 20px;
        font-size: 12vw;
    }
}

@media (max-width:400px) {
    #welcomeContainer {
        height: 360px;
    }
}
