.workContainer {
    height: 1400px;
    background-color: #dedede;
    width: 100%;
    margin-top: -60px;
    position: relative;  
}

.work-head {
    position: absolute;
    margin-top: 30px !important;
    font-size: 40px;
    font-family: 'Kanit', sans-serif !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 100%;
    text-align: center;
}

.gif-img {
    display: block;
    max-width: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.gif-container-top {
    position: relative;
    width: 100%;
    margin-top: 140px;
}

.gif-container-bot {
    position: relative;
    width: 100%;
}

.work-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: darkslategray;
}

.work-sub {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: darkslategray;
    border: 1px solid lightslategray;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.work-sub:hover {
    background-color: darkslateblue;
    color: white;
}

@media (max-width: 1291px) {
    .workContainer {
        height: 1340px;
    }
}

@media (max-width: 1180px) {
    .workContainer {
        height: 1230px;
    }
}

@media (max-width: 1080px) {
    .workContainer {
        height: 1180px;
    }
    
}

@media (max-width: 992px) {
    .gif-container-top {
        margin-top: 75px;
    }
    .work-title {
        margin-top: 50px;
    }

    .workContainer {
        max-height: 2540px;
        height: 2540px;
    }
    .gif-img {
        width: 500px;
        height: auto;
    }
    .work-sub{
        max-width: 50%;
        width: 50%;
    }
}

@media (max-width: 780px) {
    .workContainer {
        max-height: 2580px;
        height: 2580px;
    }
    .work-sub {
        max-width: 65%;
        width: 65%;
    }
}

@media (max-width: 768px) {
    .work-sub {
        max-width: 485px;
        width: 485px;
    }
}

@media (max-width: 730px) {
    .workContainer {
        max-height: 2530px;
        height: 2530px;
    }
}

@media (max-width: 700px) {
    .workContainer {
        max-height: 2470px;
        height: 2470px;
    }
}

@media (max-width: 650px) {
    .workContainer {
        max-height: 2370px;
        height: 2370px;
    }
}

@media (max-width: 600px) {
    .workContainer {
        max-height:1900px;
        height: 1900px;
    }
    .gif-img {
        width: 300px;
        height: auto;
    }
    .work-sub {
        max-width: 300px;
        width: 300px;
    }
    .work-title {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .work-head {
        font-size: 30px;
    }
    .workContainer {
        max-height: 1750px;
        height: 1750px;
    }
}

@media (max-width: 320px) { 
    .workContainer {
        max-height: 1650px;
        height: 1650px;
    }
}







