.workContainer {
    height: 1400px;
    background-color: #dedede;
    width: 100%;
    margin-top: -60px;
    position: relative;  
}

.work-head {
    position: absolute;
    margin-top: 30px !important;
    font-size: 4vw;
    font-family: 'Kanit', sans-serif !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30%;
}

.gif-container-top {
    position: relative;
    width: 100%;
    margin-top: 140px;
}

.gif-container-bot {
    position: relative;
    width: 100%;
}

.gif-img {
    width: 75%;
    margin-left: 85px;
}

.work-title {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color: darkslategray;
}

.work-sub {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: darkslategray;
    border: 1px solid lightslategray;
    left: -20%;
    margin-left: 87px;
    margin-right: 87px;
    padding: 10px;
    border-radius: 15px;
    
}

.work-sub:hover {
    background-color: darkslateblue;
    color: white;
}

@media (max-width: 1291px) {
    .workContainer {
        height: 1340px;
    }
    .work-sub {
        margin-right: 57px;
    }
}

@media (max-width: 1180px) {
    .workContainer {
        height: 1280px;
    }

    .work-title {
        margin-left: 30px;
    }
}

@media (max-width: 1080px) {
    .workContainer {
        height: 1250px;
    }
    .work-title {
        margin-left: 40px;
    }

    .work-head {
        margin-left: 32%;
    }
    .gif-container-top {
        margin-left: -20px;
    }
    .gif-container-bot {
        margin-left: -20px;
    }
}

@media (max-width: 992px) {
    .gif-container-top {
        margin-top: 75px;
    }
    .work-head {
        font-size: 5vw;
        margin-left: 27.5%;
    }
    .work-title {
        margin-top: 50px;
    }
    .gif-img {
        width: 50%;
        margin-left: 27.5%;
    }

    .work-sub {
        margin-left: 24%;
        margin-right: 19%;
    }

    .workContainer {
        height: 2500px;
    }
}

@media (max-width: 850px) {
    .workContainer {
        height: 2300px;
    }
}

@media (max-width: 780px) {
    .workContainer {
        height: 2150px;
    }
}

@media (max-width: 680px) {
    .workContainer {
        height: 2050px;
    }
}

@media (max-width: 580px) {
    .workContainer {
        height: 1950px;
    }
}

@media (max-width: 480px) {
    .workContainer {
        height: 1850px;
    }
    .gif-img {
        width: 75%;
        margin-left: 18.5%;
    }
    .work-title {
        margin-top: 20px;
    }
    .work-head {
        font-size: 7vw;
        margin-left: 16.5%;
    }

    .work-sub {
        margin-left: 40px;
        margin-right: 0;
    }
}
