.contactContainer {
    height: 650px;
    width: 100%;
    position: relative;
}

.particles-c {
    margin:0; 
    display: block; 
    position: absolute; 
    width: 100% !important; 
    height: 100% !important; 
    background-color: whitesmoke; 
    color: lightslategray; 
    text-align: center; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-weight: bold;
    margin-top: -5px; 
    border-radius: 3px 3px 0 0; 
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    z-index: -1;
}

.contact-head {
    position: absolute;
    margin-top: 30px !important;
    font-size: 40px;
    font-family: 'Kanit', sans-serif !important;
    color: darkslateblue;
    text-shadow: 2px 2px 8px black;
    width: 100%;
    text-align: center;
}

.input-container {
    margin-top: 125px;
    width: 840px;
    height: auto;
    background-color: darkslateblue;
    padding: 40px;
    border-radius: 15px;
    border: 3px solid lightslategray;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: lightslategray;
    border: 1px solid darkslategrey;
    border-radius: 15px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: auto;
}

.btn:hover {
    background-color: crimson;
}

@media (max-width:992px) {
    .input-container {
        width: 800px;
    }
}

@media (max-width:860px) {
    .input-container {
        width: 700px;
    }
}

@media (max-width: 778px) {
    .contactContainer {
        height: 600px;
    }
}

@media (max-width: 750px) {
    .input-container {
        width: 650px;
    }
}

@media (max-width: 700px) {
    .input-container {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .input-container {
        width: 550px;
    }
}


@media (max-width: 600px) {
    .contactContainer {
        height: 770px;
    }
    .input-container {
        width: 300px;
    }
}