.contactContainer {
    height: 700px;
    background-color: whitesmoke;
    width: 100%;
    position: relative;
}

.contact-head {
    position: absolute;
    margin-top: 30px !important;
    font-size: 4vw;
    font-family: 'Kanit', sans-serif !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22%;
}

.input-container {
    position: absolute;
    margin-top: 130px;
    width: 90%;
    margin-left: 70px;
    background-color: darkslateblue;
    padding: 40px;
    border-radius: 15px;
    border: 3px solid lightslategray;
    color: white;
}

.btn {
    background-color: lightslategray;
    border: 1px solid darkslategrey;
    border-radius: 15px;
    width: 100%;
    
}

.btn:hover{
    background-color: crimson;
}

@media (max-width: 1250px) {
    .input-container {
        margin-left: 65px;
    }
}

@media (max-width: 1150px) {
    .input-container {
        margin-left: 60px;
    }
    .contactContainer {
        height: 650px;
    }
}

@media (max-width: 992px) {
    .input-container {
        margin-left: 50px;
    }
}


@media (max-width: 928px) {
    .input-container {
        margin-left: 42px;
    }
}

@media (max-width: 778px) {
    .input-container {
        margin-left: 40px;
        margin-top: 100px;
    }
    .contactContainer {
        height: 600px;
    }
    .contact-head {
        font-size: 5vw;
        margin-left: 15%;
    }
}

@media (max-width: 690px) {
    .input-container {
        margin-left: 35px;
    }
}

@media (max-width: 680px) {
    .input-container {
        margin-top: 100px;
    }
}

@media (max-width: 650px) {
    .input-container {
        margin-left: 30px;
    }
}

@media (max-width: 600px) {
    .contactContainer {
        height: 750px;
    }
}

@media (max-width: 550px) {
    .input-container {
        margin-left: 25px;
    }
}

@media (max-width: 480px) {
    .input-container {
        margin-left: 20px;
    }
} 