.devContainer {
    height: 1000px;
    background-color: whitesmoke;
    width: 100%;
    padding-left: 80px;
    position: relative;
    padding-right: 80px;
    padding-top: 90px;
}

.servTop {
    height: 600px;
    width: 100%;
    position: absolute;
    background-color: darkslateblue;
    top: 0;
    left: 0;
}

.servTopText {
    font-family: 'Kanit', sans-serif !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 4vw;
    text-align: center;

}

.servWrap {
    position: absolute;
    border: 1px solid slategray;
    background-color: white;
    width: 89%;
    height: 740px;
    margin-top: 45px;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 8px lightslategrey;
    box-shadow: 2px 2px 8px lightslategrey;

}

.icon-row {
    position: relative;
    width: 33.33% !important;
    height: 100%;
    left: 0 !important;
    top: 0;
    text-align: center;
}

.icon-top {
    font-size: 48px;
    color: darkslategray;
    margin-top: 30px;
}

.border-right {
    border-right: 1px lightslategray solid;
}

.inner-text {
    position: absolute;
    font-size: 24px;
    left: 0;
    width: 100%;
    float: left;
}

.inner-sub-text {
    position: absolute;
    font-size: 15px;
    width: 100%;
    left: 0;
    margin-top: 80px;
    padding-left: 35px;
    padding-right: 35px;
}

.inner-sub-head {
    position: absolute;
    font-size: 20px;
    width: 100%;
    left: 0;
    margin-top: 260px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslateblue;
}

.inner-sub-2 {
    position: absolute;
    font-size: 16px;
    width: 100%;
    left: 0;
    margin-top: 310px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslategray;
}

.inner-sub-head2 {
    position: absolute;
    font-size: 20px;
    float: left;
    width: 100%;
    left: 0;
    margin-top: 385px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslateblue;
}

.line1 {
    position: absolute;
    font-size: 16px;
    float: left;
    width: 100%;
    left: 0;
    margin-top: 435px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslategray;
}

.line2 {
    position: absolute;
    font-size: 16px;
    float: left;
    width: 100%;
    left: 0;
    margin-top: 475px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslategray;
}

.line3 {
    position: absolute;
    font-size: 16px;
    float: left;
    width: 100%;
    left: 0;
    margin-top: 515px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslategray;
}

.line4 {
    position: absolute;
    font-size: 16px;
    float: left;
    width: 100%;
    left: 0;
    margin-top: 555px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslategray;
}

.line5 {
    position: absolute;
    font-size: 16px;
    float: left;
    width: 100%;
    left: 0;
    margin-top: 595px;
    padding-left: 35px;
    padding-right: 35px;
    color: darkslategray;
}

@media (max-width: 1280px) {
    .devContainer {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 1175px) {
    .inner-text {
        font-size: 22px;
    }
}

@media (max-width: 1151px) {
    .inner-sub-text {
        font-size: 14px;
    }
}

@media (max-width: 1091px) {
    .inner-text {
        font-size: 20px;
    }
    .inner-sub-text {
        margin-top: 70px;
    }
}


@media (max-width: 1025px) {
    .line2 {
        width: 110%;
        margin-left: -16px;
    }
}

@media (max-width: 968px) {
    .inner-sub-text {
        margin-top: 60px;
    }
}

@media (max-width: 960px) {

    .icon-row {
        min-width: 100%;
        border-right: none;
        height: 350px;
    }

    .devContainer {
        height: 2075px;
    }

    .inner-text {
        margin-top: 10px;
    }

    .inner-sub-text {
        margin-top: 55px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .inner-sub-head {
        margin-top: 150px;
    }

    .inner-sub-2 {
        margin-top: 190px;
    }

    .inner-sub-head2 {
        margin-top: 240px;
    }

    .line1 {
        margin-top: 280px;
    }

    .line2 {
        width: 100%;
        margin-left: 0px;
        margin-top: 315px;
    }

    .line3 {
        margin-top: 350px;
    }

    .line4 {
        margin-top: 385px;
    }

    .line5 {
        margin-top: 415px;
    }

    #num1 {
        height: 33% !important;
        border-bottom: 2px solid lightslategray;
    }

    #num2 {
        height: 33% !important;
        border-bottom: 2px solid lightslategray;
    }

    #num3 {
        height: 33% !important;
    }

    .servWrap {
        height: 1800px;
        width: 88%;
        margin-top: 10px;
    }
    .servTopText {
        font-size: 40px;
    }
    .servicesHeader {
        font-size: 40px;
    }

}

@media (max-width: 870px) {
    .servWrap {
        width: 86%;
    }
}

@media (max-width: 810px) {
    .devContainer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 660px) {
    .devContainer {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 620px) {
    .inner-sub-text {
        padding-left: 40px;
        padding-right: 40px;
    }
    .inner-sub-text {
        margin-top: 65px;
    }
    .line5 {
        margin-top: 450px;
    }
    .line4 {
        margin-top: 420px;
    }
    .line3 {
        margin-top: 385px;
    }
    .line2 {
        margin-top: 350px;
    }
    .line1 {
        margin-top: 315px;
    }
    .inner-sub-head2 {
        margin-top: 275px;
    }
    .inner-sub-2 {
        margin-top: 225px;
    }
    .inner-sub-head {
        margin-top: 185px;
    }
}

@media (max-width: 560px) {
    .servTopText {
        font-size: 30px;
    }
    .servicesHeader {
        font-size: 30px;
    }
}

@media (max-width: 540px) {
    .devContainer {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 500px) {
    .inner-sub-text {
        margin-top: 50px;
    }
}

@media (max-width: 460px) {
    .devContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 440px) {
    .inner-sub-text {
        padding-left: 20px;
        padding-right: 20px;
    }
    .servTopText {
        font-size: 28px;
    }
    .servicesHeader {
        font-size: 28px;
    }
}

@media (max-width: 375px) {
    .servicesHeader {
        font-size: 25px;
    }
    .devContainer {
        padding-left: 25px;
        padding-right: 25px;
    }
    .inner-sub-text {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .servicesHeader {
        font-size: 22px;
    }
    .inner-sub-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .devContainer {
        padding-left: 22px;
        padding-right: 22px;
    }
    .inner-text {
        font-size: 18px;
    }
    .line2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .inner-sub-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .inner-sub-head2 {
        margin-top: 285px;
    }
    .inner-sub-head {
        margin-top: 190px;
    }
    .servWrap {
        margin-top: 0px;
    }
}




